body{
	background:url("../images/LOG.jpg") no-repeat  top center;
	margin:0;
}
.login_box{
	display:none;
	margin-left:47%;
	margin-top:340px;
	height:369px;
}
table{
	height:80px;
	font-size:10pt;
	font-family: Tahoma,Geneva,sans-serif;
	font:bold;
}
td{
	height:20px;
	padding:4px;
	text-align: left;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
	-webkit-appearance:none;
}
.username,.password,.volidate{
	background: #E4E4E4;
	height:20px;
}
.required{
	display:none;
}
.btn_login{
	width:100px;
	height:30px;
	background: #25AD0B;
	outline: 0;
	border: 2px solid #51CB1F;
	color:#fff;
	cursor: pointer;
}